.container {
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-family: 'Indie Flower', cursive;
    color: #106c68;
}

img {
    width: 100%;
    height: auto;
/*    opacity: 0.3;*/
}
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 98px;
    font-family: 'Aref Ruqaa', serif;
    color: #ffed64
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

i{
    color: beige;
    word-spacing: 10px;
}
